
/* CJK Unified Ideographs U+4E00-U+9FFF */
@font-face {
  font-family: sans-serif;
  src: local(Heiti TC), local("微軟正黑體"), local("Microsoft JhengHei");
  unicode-range: U+4E00-9FFF;
}

@font-face {
  font-family: serif;
  src: local(LiSong Pro), local("新細明體"), local("PMingLiU");
  unicode-range: U+4E00-9FFF;
}

/* Japanese Kana U+3040-U+30FF */
@font-face {
  font-family: sans-serif;
  src: local(Hiragino Kaku Gothic Pro), local(Meiryo);
  unicode-range: U+3040-30FF;
}

@font-face {
  font-family: serif;
  src: local(Hiragino Mincho Pro), local(MS PMincho);
  unicode-range: U+3040-30FF;
}

/* Bopomofo U+3105-U+312C */
@font-face {
  font-family: sans-serif;
  src: local(LiHei Pro), local("微軟正黑體"), local(Microsoft JhengHei);
  unicode-range: U+3105-312C;
}

@font-face {
  font-family: serif;
  src: local(LiSong Pro), local("新細明體"), local(PMingLiU);
  unicode-range: U+3105-312C;
}

/* Latin, Latin1, Latin Ext-A, Latin Ext-B */
@font-face {
  font-family: sans-serif;
  src: local(Helvetica), local(Arial);
  unicode-range: U+00-024F;
}

@font-face {
  font-family: serif;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotoslab/v2/y7lebkjgREBJK96VQi37ZrrIa-7acMAeDBVuclsi6Gc.woff) format('woff'), local(Times), local(Times New Roman);
  unicode-range: U+00-024F;
}

@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local('Kaushan Script'), local('KaushanScript-Regular'), url(http://themes.googleusercontent.com/static/fonts/kaushanscript/v1/qx1LSqts-NtiKcLw4N03ILDH3ri20rYH10B2w3wbVeU.woff) format('woff');
}

div[itemprop="articleBody text"]{
    font-family: serif;
    letter-spacing:.1em;
        line-height: 1.7em; 
}

h1[itemprop="headline name"]{
    font-family: sans-serif;
}

blockquote{
    font-family: sans-serif;
    line-height: 1.5em;
}

ul.nav{
    font-family: 'Kaushan Script', cursive;
}

input[type="text"]{
    font-family: 'Kaushan Script', cursive;
}

iframe{
    display: block;
    margin: 0 auto;
}